
body {
  font-family: 'Roboto', sans-serif;
}

.tile {
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.sections-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  flex-direction: row;
  min-height: 50vh;
}

.section {
  margin:15px;
  border-radius: 6px;
  background-color: #F5F5F5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



#createTask {
  width: 30%;
  margin-left: 35%;
  margin-top: 25px;
  padding: 10px;
}

.title-textbox {
  margin: 10px;
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin-left: 0px;
  width: 80%;
}

.content-textarea {
  resize: none;
  margin: 10px;
  margin-left: 0px;
  font-size: 15px;
  height: 70px;
  width: 100%;
}



h2 {
  font-size: 30px;
  margin: 5px 5px 5px; 
  text-transform: uppercase;
  vertical-align:middle;
  text-align: center;
  font-weight: 300;
}

.card-title {
  color: black;
  border: none;
  font-size: 18px;
  margin: 3px;
  text-transform: uppercase;
}



.card-text {
    color: black;
    border: none;
    width: 100%;
    font-size: 12px;

    margin: 3px;
    text-transform: uppercase;
}

input:focus, textarea:focus, select:focus {
  background-color: transparent;
  outline: none;
}

.card-body {
  padding: 15px;
  background-color: white;
  height: 100px;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 12px;
}

.card-body:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button {
  background-color: #1462ff;
  border: none;
  color: white;
  padding: 6px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;
  margin: 3px;
}

.button {
  margin: 3px;
  margin-top: 20px;
  background-color: #1462ff;
  border: none;
  color: white;
  padding: 6px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;

}

button:hover {background-color: darkblue}



ul {
  padding: 30px;
  list-style-type: none;

}



